# PostgreSQL Database Configuration
DATABASE_URL=postgresql://postgres@localhost:5432/team_management_db

# Security & JWT
SECRET_KEY=supersecretjwtkeyforlevel1teammanagementsystem2026
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# App Settings
ENVIRONMENT=development
PROJECT_NAME="TEAM MANAGEMENT"
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
